<h1>Add source</h1>

<form action="/sources/add" method="post">
  <input name="id" value="" />
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="US Dollar"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Symbol</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="$"
    />
  </div>
  <div>
    <button type="submit" class="btn btn-primary btn-sm">Add</button>
  </div>
</form>
