<html>
  <head>
    <title>Admin - {{title}}</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/simplemde.css" />
    <link rel="stylesheet" href="/styles/bootstrap.css" />
    <link rel="stylesheet" href="/icons/bootstrap-icons.min.css" />
    <script src="/js/simplemde.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/data-dateformat.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/admin">CENT Admin</a>

        <ul class="nav mw-auto">
          <li class="nav-item">
            <a class="nav-link" href="/admin">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/auth/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/sources">Sources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/modules">Modules ({{modules.length}})</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/settings">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Return</a>
          </li>
        </ui>
      </div>
    </nav>

    <div class="container-fluid">
      {{#if error}}
        <div class="alert alert-danger" role="alert">
          {{error}}
        </div>
      {{/if}}

      {{{body}}}
    </div>

    <div class="preloader" id="preloader">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </body>
</html>
